<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="backend.mapper.UserMapper">

    <resultMap id="UserResultMap" type="backend.domain.User">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
    </resultMap>

    <insert id="create">
        INSERT INTO users VALUES (#{username}, #{password}, #{role}, #{email}, #{gender})
    </insert>

    <select id="findAll" resultMap="UserResultMap">
        SELECT * FROM users
    </select>

    <update id="update">
        UPDATE users
        SET
        gender = #{gender},
        password = #{password},
        email = #{email}
        WHERE username = #{username}
    </update>

</mapper>